@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.root {
    display: flex;
    flex-direction: column;
}

.title, #result, #text, .player {
    display: flex;
    align-items: center;
}

.title, .player {
    height: 30vh;
}


.title {
    text-align: center;
    justify-content: center;
    font-size: 48px;
}

#result, #text {
    height: 20vh;
    justify-content: center;
    text-align: center;
}

#result {
    font-size: 40px;
    font-weight: 900;
}

#text {
    font-size: 30px;
}

.player {
    justify-content: space-around;
}

.choice {
    cursor: pointer;
}

#rock {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
}

#paper {
    height: 150px;
    width: 100px;
    border: 1px solid black;
}

#scissors {
    font-size: 100px;
}

#rock, #paper, #scissors {
    transition: transform .15s;
}

#rock:hover, #paper:hover, #scissors:hover {
    transform: scale(1.2)
}

.score-container {
    position: fixed;
    top: 0;
    margin-left: 0;
}